<div *ngFor="let i of data">
<div class="flex justify-center px-28 sm:flex-col py-10 shadow-sm sm:px-0 sm:text-center  ">
    <div class="px-10 w-full sm:px-32 sm:pl-44 ">
        <img src="{{i.image}}" alt="" class="">
    </div>

    <div class="pl-10 w-full">
        <h1 class="text-3xl py-8 tracking-widest">{{i.title}}</h1>
        <p class="text-gray-400 pb-8 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae,
            explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque
            sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.

            Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos
            minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam
            quis.</p>
        <h4 class="text-2xl text-purple tracking-widest">$50.00</h4>


        <div class="flex space-x-2 justify-start pt-5 sm:justify-center">
            <button type="button" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Buy Now</button>
          </div>


    </div>
</div>
</div>