<!-- Main Poster -->
<div class="w-full mt-8" style="background-color: #a5f3eb;">
  <div class="flex sm:flex-col">
    <div>
      <img src="assets/home_1.png" alt="">

    </div>

    <div class="w-fit pl-10 pt-10 pb-10">
      <h1 class="text-5xl  font-bold pt-12 tracking-wide font-sans ">Finding Your <br> Perfect Shoes</h1>
      <p class="pt-5">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Phasellus at iaculis quam. Integer
        accumsan <br> tincidunt fringilla.</p>
      <button (click)="check_login()" style="background-color: #7971ea; letter-spacing:0.2rem; "
        class="mt-6 inline-block px-6 py-2.5  text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Shop
        Now</button>
    </div>

  </div>
</div>
<!-- Main Poster End -->


<!-- Detail container -->
<div class="w-full  mb-10 pb-10 bg-slate-50">

  <div class="flex justify-around items-center space-x-10  tracking-wide font-sans sm:flex-col">

    <div class="pl-12 pr-8  pt-20">
      <div class="flex space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="blue" class="w-6 h-6">
          <path
            d="M3.375 4.5C2.339 4.5 1.5 5.34 1.5 6.375V13.5h12V6.375c0-1.036-.84-1.875-1.875-1.875h-8.25zM13.5 15h-12v2.625c0 1.035.84 1.875 1.875 1.875h.375a3 3 0 116 0h3a.75.75 0 00.75-.75V15z" />
          <path
            d="M8.25 19.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0zM15.75 6.75a.75.75 0 00-.75.75v11.25c0 .087.015.17.042.248a3 3 0 015.958.464c.853-.175 1.522-.935 1.464-1.883a18.659 18.659 0 00-3.732-10.104 1.837 1.837 0 00-1.47-.725H15.75z" />
          <path d="M19.5 19.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
        </svg>
        <h2 class="font-semibold">FREE SHIPPING</h2>
      </div>
      <br>
      <p class="pl-8 pr-10">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Phasellus at <br> iaculis quam.
        Integer accumsan <br> tincidunt fringilla.</p>
    </div>

    <div class="xl:pl-12pr-12  pt-20">
      <div class="flex space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="blue" class="w-6 h-6">
          <path fill-rule="evenodd"
            d="M4.755 10.059a7.5 7.5 0 0112.548-3.364l1.903 1.903h-3.183a.75.75 0 100 1.5h4.992a.75.75 0 00.75-.75V4.356a.75.75 0 00-1.5 0v3.18l-1.9-1.9A9 9 0 003.306 9.67a.75.75 0 101.45.388zm15.408 3.352a.75.75 0 00-.919.53 7.5 7.5 0 01-12.548 3.364l-1.902-1.903h3.183a.75.75 0 000-1.5H2.984a.75.75 0 00-.75.75v4.992a.75.75 0 001.5 0v-3.18l1.9 1.9a9 9 0 0015.059-4.035.75.75 0 00-.53-.918z"
            clip-rule="evenodd" />
        </svg>
        <h2 class="font-semibold">FREE RETURNS</h2>
      </div>
      <br>
      <p class="pl-8 pr-10">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Phasellus at <br> iaculis quam.
        Integer accumsan <br> tincidunt fringilla.</p>
    </div>

    <div class="xl:pl-12pr-12 pt-20  ">
      <div class="flex space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="blue" class="w-6 h-6">
          <path fill-rule="evenodd"
            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z"
            clip-rule="evenodd" />
        </svg>
        <h2 class="font-semibold">CUSTOMER SUPPORT</h2>
      </div>
      <br>
      <p class="pl-8 pr-10">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Phasellus at <br> iaculis quam.
        Integer accumsan <br> tincidunt fringilla.</p>
    </div>

  </div>


</div>


<!-- Detail container End -->





<!-- Category Products container -->


<div class="py-5 ">
   <div class="flex pb-20 justify-center flex-col items-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-16 pb-5 ">
      <path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
    </svg>
    <h1 class="font-serif text-3xl">Categories</h1>

   </div>
  <div class="flex space-x-10 justify-center sm:flex-col cursor-pointer">

    <div class="back_1 max-w-xs hover:scale-110 transition duration-300 ease-in-out" routerLink="">

      <span class="uppercase text-white tracking-wider pt-72 px-5 block">Collections</span>
      <h3 class="text-white px-5 text-4xl font-serif">Women</h3>
    </div>


    <div class="back_2 max-w-xs hover:scale-110 transition duration-300 ease-in-out">
      <span class="uppercase text-white tracking-wider pt-72 px-5 block">Collections</span>
      <h3 class="text-white px-5 text-4xl font-serif">Children</h3>
    </div>

    <div class="back_3 max-w-xs hover:scale-110 transition duration-300 ease-in-out">
      <span class="uppercase text-white tracking-wider pt-72 px-5 block">Collections</span>
      <h3 class="text-white px-5 text-4xl font-serif">Men</h3>
    </div>

  </div>
</div>



<!-- Category Products container End-->






<!-- Feature products -->

<div class="bg-gray-100 mt-24">

  <div class="flex flex-col justify-center items-center ">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" class="w-16 pt-20">
      <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
    </svg>
    
    <h1 class="text-center pt-10 font-sans  text-3xl">Feature Products</h1>
  </div>

  <div class="flex justify-around sm:flex-col pt-16" >

    <div class="flex justify-center ">
      <div class="rounded-lg shadow-lg bg-white max-w-sm mb-24">
        <a href="#!">
          <img class="rounded-t-lg" src="assets/tanktop.webp" alt="" />
        </a>
        <div class="p-6 flex justify-center flex-col">
          <h5 class="text-xl font-medium mb-2 text-center" style="color:#7971ea;">Tank Top</h5>
          <p class="text-gray-400 text-base mb-4 text-center">
            Finding Perfect T-shirt
          </p>
          <button routerLink="/products" type="button" style="background-color: #7971ea; letter-spacing: 0.2em;"
            class=" inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Shop Now</button>
        </div>
      </div>
    </div>


    <div class="flex justify-center">
      <div class="rounded-lg shadow-lg bg-white max-w-sm mb-24">
        <a href="#!">
          <img class="rounded-t-lg" src="assets/home_1.png" alt="" />
        </a>
        <div class="p-6 flex justify-center flex-col">
          <h5 class="text-gray-900 text-xl font-medium mb-2 text-center" style="color: #7971ea;">Shoes</h5>
          <p class="text-gray-400 text-base mb-4 text-center">
          Finding Perfect Products
          </p>
          <button routerLink="/products" type="button" style="background-color: #7971ea; letter-spacing: 0.2em;"
            class="inline-block px-6 py-2.5 mt-10 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Shop Now</button>
        </div>
      </div>
    </div>


    <div class="flex justify-center">
      <div class="rounded-lg shadow-lg bg-white max-w-sm mb-24">
        <a href="#!">
          <img class="rounded-t-lg" src="assets/polo_shirt.webp" alt="" />
        </a>
        <div class="p-6 flex justify-center flex-col">
          <h5 class="text-gray-900 text-xl font-medium mb-2 text-center" style="color: #7971ea;">Polo Shirt</h5>
          <p class="text-gray-400 text-base mb-4 text-center">
           Find Perfect Products
          </p>
          <button routerLink="/products" type="button" style="background-color: #7971ea; letter-spacing: 0.2em;"
            class=" inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Shop Now</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Feature products end -->




<!-- Sale Products -->

<div class="w-full">
  <div class="flex justify-center flex-col items-center pt-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#e25822" class="w-16  pb-3">
      <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z" clip-rule="evenodd" />
    </svg>
    <h1 class="font-serif text-3xl">Big Sale!</h1>
  </div>
  <div class="flex justify-center space-x-10 sm:flex-col px-20 py-20 sm:space-x-0 sm:space-y-5">
    <div class="w-full l">
      <img  class="rounded-xl" src="assets/big_sale.webp" alt="">
    </div>

    <div class=" w-full text-center pt-10">
      <h3 style="color: #7971ea; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="text-2xl font-semibold pb-4">50% less in all items</h3>
      <h6 class="text-gray-400 text-xs pb-4 font-serif">By <span style="color: #7971ea;">Carl Smith</span> • September 3, 2018</h6>
      <p class="text-gray-400 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p>
      <button (click)="check_login()" style="background-color: #7971ea; letter-spacing:0.2rem; "
        class="mt-6 inline-block px-6 py-2.5  text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Shop
        Now</button>
    </div>
   
  </div>
</div>

<!-- Sale Products End -->

